---
http_interactions:
- request:
    method: get
    uri: http://data.fixer.io/api/2020-01-01?access_key=a1a3b1133a6eda6ba1742b4a1089c0d1&symbols=AUD,BGN,BRL,CAD,CHF,CNY,CZK,DKK,EUR,GBP,HKD,HRK,HUF,IDR,ILS,INR,JPY,KRW,MXN,MYR,NOK,NZD,PHP,PLN,RON,RUB,SEK,SGD,THB,TRY,USD,ZAR
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; Charset=UTF-8
      X-Apilayer-Transaction-Id:
      - 52fa0e07-533d-44ae-9bc8-81e683597aa3
      Last-Modified:
      - Wed, 01 Jan 2020 23:59:59 GMT
      Etag:
      - 2e2f0e7cf11ff11bb8aa92471eb37fac
      X-Request-Time:
      - '0.027'
    body:
      encoding: UTF-8
      string: '{"success":true,"timestamp":1577923199,"historical":true,"base":"EUR","date":"2020-01-01","rates":{"AUD":1.598259,"BGN":1.956373,"BRL":4.509417,"CAD":1.45563,"CHF":1.085595,"CNY":7.811525,"CZK":25.418639,"DKK":7.470602,"EUR":1,"GBP":0.846759,"HKD":8.742138,"HRK":7.477257,"HUF":330.939533,"IDR":15585.123655,"ILS":3.874744,"INR":79.797425,"JPY":121.963096,"KRW":1295.67977,"MXN":21.218065,"MYR":4.588844,"NOK":9.843415,"NZD":1.66539,"PHP":56.887768,"PLN":4.255381,"RON":4.790322,"RUB":69.402014,"SEK":10.483649,"SGD":1.509199,"THB":33.733275,"TRY":6.671854,"USD":1.12183,"ZAR":15.71607}}'
  recorded_at: Sat, 11 Jan 2020 18:03:34 GMT
- request:
    method: get
    uri: http://data.fixer.io/api/20-01-01?access_key=a1a3b1133a6eda6ba1742b4a1089c0d1&symbols=AUD,BGN,BRL,CAD,CHF,CNY,CZK,DKK,EUR,GBP,HKD,HRK,HUF,IDR,ILS,INR,JPY,KRW,MXN,MYR,NOK,NZD,PHP,PLN,RON,RUB,SEK,SGD,THB,TRY,USD,ZAR
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; Charset=UTF-8
      X-Apilayer-Transaction-Id:
      - a437192d-4fe9-4892-b13d-30ea78e951b7
      Etag:
      - eb44cae4d34818ac26e7deae2acd9349
      X-Request-Time:
      - '0.013'
    body:
      encoding: UTF-8
      string: '{"success":false,"error":{"code":302,"type":"invalid_date","info":"You
        have entered an invalid date. [Required format: date=YYYY-MM-DD]"}}'
  recorded_at: Sat, 11 Jan 2020 18:03:35 GMT
recorded_with: VCR 4.0.0
