---
http_interactions:
- request:
    method: get
    uri: http://data.fixer.io/api/latest?access_key=a1a3b1133a6eda6ba1742b4a1089c0d1&symbols=AUD,BGN,BRL,CAD,CHF,CNY,CZK,DKK,EUR,GBP,HKD,HRK,HUF,IDR,ILS,INR,JPY,KRW,MXN,MYR,NOK,NZD,PHP,PLN,RON,RUB,SEK,SGD,THB,TRY,USD,ZAR
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; Charset=UTF-8
      X-Apilayer-Transaction-Id:
      - a47743d0-2adc-4682-a8db-d72e5c7105dc
      Last-Modified:
      - Sat, 11 Jan 2020 17:55:06 GMT
      Etag:
      - b8f0cfe083098558a4790ba83558a176
      X-Request-Time:
      - '0.018'
    body:
      encoding: UTF-8
      string: '{"success":true,"timestamp":1578765306,"base":"EUR","date":"2020-01-11","rates":{"AUD":1.611513,"BGN":1.95756,"BRL":4.554534,"CAD":1.451361,"CHF":1.08178,"CNY":7.694711,"CZK":25.264918,"DKK":7.472422,"EUR":1,"GBP":0.851129,"HKD":8.636404,"HRK":7.437839,"HUF":334.061515,"IDR":15298.036008,"ILS":3.852802,"INR":78.942034,"JPY":121.720077,"KRW":1288.730551,"MXN":20.899821,"MYR":4.533183,"NOK":9.881792,"NZD":1.675709,"PHP":56.228839,"PLN":4.235775,"RON":4.778602,"RUB":67.877039,"SEK":10.56862,"SGD":1.499455,"THB":33.60505,"TRY":6.535784,"USD":1.112,"ZAR":15.932113}}'
  recorded_at: Sat, 11 Jan 2020 18:03:33 GMT
recorded_with: VCR 4.0.0
