---
http_interactions:
- request:
    method: get
    uri: http://data.fixer.io/api/latest?access_key=<HIDDEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; Charset=UTF-8
      X-Apilayer-Transaction-Id:
      - 7dc6e2df-3522-4d5b-9018-0f44d59902d2
      Last-Modified:
      - Fri, 10 Jan 2020 06:10:06 GMT
      Etag:
      - 8f31c76afcb72a4f1da576c379d99afa
      X-Request-Time:
      - '0.021'
    body:
      encoding: UTF-8
      string: '{"success":true,"timestamp":1578636606,"base":"EUR","date":"2020-01-10","rates":{"AED":4.08045,"AFN":86.693289,"ALL":122.311758,"AMD":531.802039,"ANG":1.860508,"AOA":538.023404,"ARS":66.355567,"AUD":1.614824,"AWG":1.999779,"AZN":1.880197,"BAM":1.956268,"BBD":2.242782,"BDT":94.296161,"BGN":1.958184,"BHD":0.418815,"BIF":2088.651187,"BMD":1.110989,"BND":1.501704,"BOB":7.680721,"BRL":4.548053,"BSD":1.110788,"BTC":0.000143,"BTN":78.980662,"BWP":11.848537,"BYN":2.356812,"BYR":21775.374895,"BZD":2.238981,"CAD":1.450873,"CDF":1872.016146,"CHF":1.080842,"CLF":0.031007,"CLP":855.572691,"CNY":7.72704,"COP":3618.378495,"CRC":636.140925,"CUC":1.110989,"CUP":29.441196,"CVE":110.291651,"CZK":25.241435,"DJF":197.445042,"DKK":7.473399,"DOP":58.83781,"DZD":132.833783,"EGP":17.768481,"ERN":16.664441,"ETB":35.611368,"EUR":1,"FJD":2.409457,"FKP":0.9031,"GBP":0.849012,"GEL":3.216337,"GGP":0.848832,"GHS":6.325615,"GIP":0.903101,"GMD":56.827676,"GNF":10587.944974,"GTQ":8.569911,"GYD":232.872092,"HKD":8.627848,"HNL":27.352349,"HRK":7.443218,"HTG":109.288363,"HUF":332.707655,"IDR":15283.424606,"ILS":3.84537,"IMP":0.848832,"INR":79.012729,"IQD":1326.014454,"IRR":46778.171663,"ISK":137.507324,"JEP":0.848832,"JMD":147.788703,"JOD":0.787694,"JPY":121.724904,"KES":112.932218,"KGS":77.412344,"KHR":4526.416177,"KMF":492.66735,"KPW":999.933795,"KRW":1289.457873,"KWD":0.337174,"KYD":0.925624,"KZT":418.271089,"LAK":9874.663733,"LBP":1679.436123,"LKR":201.436905,"LRD":210.588303,"LSL":15.809345,"LTL":3.28046,"LVL":0.672025,"LYD":1.552003,"MAD":10.66873,"MDL":19.216191,"MGA":4126.49154,"MKD":61.629618,"MMK":1633.93314,"MNT":3045.246761,"MOP":8.888108,"MRO":396.622715,"MUR":40.639772,"MVR":17.164462,"MWK":819.754986,"MXN":20.910804,"MYR":4.53017,"MZN":68.714525,"NAD":15.80956,"NGN":402.714043,"NIO":37.472068,"NOK":9.857907,"NPR":126.364955,"NZD":1.677365,"OMR":0.427172,"PAB":1.110763,"PEN":3.682073,"PGK":3.787718,"PHP":56.277679,"PKR":172.035071,"PLN":4.246143,"PYG":7235.278931,"QAR":4.045104,"RON":4.778918,"RSD":117.603687,"RUB":68.063159,"RWF":1053.807825,"SAR":4.16772,"SBD":9.185644,"SCR":15.22187,"SDG":50.128133,"SEK":10.533613,"SGD":1.499457,"SHP":1.467506,"SLL":10798.80855,"SOS":644.372991,"SRD":8.285763,"STD":23953.790066,"SVC":9.719305,"SYP":572.158994,"SZL":15.778998,"THB":33.618942,"TJS":10.763779,"TMT":3.89957,"TND":3.144484,"TOP":2.552885,"TRY":6.527796,"TTD":7.496612,"TWD":33.299103,"TZS":2555.384791,"UAH":26.79532,"UGX":4093.01556,"USD":1.110989,"UYU":41.605677,"UZS":10624.209805,"VEF":11.095994,"VND":25740.916192,"VUV":129.307464,"WST":2.943415,"XAF":656.136252,"XAG":0.062167,"XAU":0.000718,"XCD":3.002502,"XDR":0.805073,"XOF":656.127386,"XPF":119.288293,"YER":278.082346,"ZAR":15.784705,"ZMK":10000.22799,"ZMW":15.495123,"ZWL":357.738303}}'
  recorded_at: Fri, 10 Jan 2020 07:01:15 GMT
recorded_with: VCR 4.0.0
